*{
    margin:0;
    padding: 0;
}
body{
    background-image: url("http://www.noaa.gov/sites/default/files/styles/scale_crop_1440x597/public/thumbnails/image/weather1_0.jpg?itok=5th0HCuN");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 96vh;    
}
h1{
    margin-top:25px;
}
.conv{
    position: absolute;
    top: 2%;
    left: 2%;
}
.lang .button-groups .btn, .conv .button-groups .btn{
    font-size:10px;
}
.row{
    margin: 1% 5%;
}
.w3-btn{
    margin-left: -50px;
    height: 50px;
    width: 50px;
}
.weather-data, .time{
    margin-top:30px;
    margin-bottom: 10px;
    font-size:1em;
    font-family:'HP Simplified', sans-serif;
    color: azure;
    font-weight: bold;
}.inp,.w3-btn{
    box-shadow: 2px 2px 5px  #c4c4c4;
}.inp{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.w3-btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}.w-data{
    margin:5px 0;
}
span{
    padding-bottom: 5px;
    border-bottom: 2px solid #ff785a;
    font-family:'Arimo',sans-serif;
    letter-spacing: 4px;
    font-size:1.5em;
}


